@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

*{
    font-family:'Helvetica';
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
  
  body{
    display:grid; 
    background:url("https://unsplash.com/photos/dkFJST9zZZo/download?force=true&w=2400");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    position:relative;
    z-index:0;
  }
  
  .heading{
    padding:20px 50px;
    place-self:center;
    background:rgba(0,0,0,0.2);
    color:white;
    border-radius:50px;
    border:8px solid red;
    margin:20px 0;
    font-family: 'Suez One';
    font-weight: 300;
  }
  
  .content .pokename{
    font-size: 30px;
  }

  .pokebutton{
    width:100px;
    height:100px;
    border-radius:50%;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255, 255, 255, 0.35) 50%, rgba(255,0,0,0.5133403703278187) 50%);
    border:8px solid black;
    margin:4px 10px;
    transition:0.3s ease-in;
    font-size:14px;
    color: white;
    font-weight:600;
  }
  
  .pokebutton:hover{
    background-color:white;
    color:black;
  }
  
  .content {
    position: relative;
    height: 550px;
    width: 400px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 150px 30px 1fr;
    place-items: center;
    text-align: center;
    overflow: hidden;
    border: 8px solid #222;
    place-self: center;
    background: rgb(42,42,42);
    background: linear-gradient(
0deg
, rgba(42,42,42,1) 0%, rgba(42,42,42,1) 6%, rgba(255,255,255,1) 6%, rgba(255,255,255,1) 6%);
}
  
  .pokemon-list-container{
    position:relative;
    z-index:0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .npbtn{
    display:flex;
    margin: 50px 10%;
    justify-content: space-between;
  }

  .npbtn i{
    font-size: 65px;
    transition: 0.4s ease-in;
    background-color: black;
    border:8px solid black;
    border-radius: 50%;
    color: red;
  }

  .npbtn i:hover{
      color: white;
  }
  
  #modal{
    display:none;
    position:fixed;
    background:rgba(0,0,0,0.5);
    height:100%;
    width:100%;
    z-index:1;
  }
  
  #modal.active{
    display:grid;
  }

  .pokediamond{
    height: 90px;
    width:90px;
    background-color: #222;
    transform: rotateZ(45deg);
    display: block;
    position: absolute;
    top:30px;
    left:38.5%;
    z-index: 1;
    border-radius: 10px;
  }
  
  .pokeimg{
    width:120px;
    height:120px;
    overflow:hidden;
    display:grid;
    z-index: 2;
    place-items:center;
  }
  
  .pokeimg img{
    width:120px;
  }
  
  .pokestats {
    grid-row: 3;
    width: 100%;
    height: 100%;
    padding: 5%;
    margin-top: 31px;
    border-top: 8px solid #222;
    background: red;
    display: grid;
    grid-template-rows: 35% 35% 25%;
    grid-template-columns: 50% 50%;
}
  
  .pokestats div, .pokestats div span, .pokename{
    height:auto;
    font-family: 'Suez One';
    font-size: 20px;
  }

  .pokestats .ability{
      grid-column: 1/3;
      height: 100%;
      width: 100%;
      margin-top: -30;
  }

  .pokestats div span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pokestats div span .descspan {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #222;
    color: white;
    margin: 5px;
    font-size: 17px;
    word-wrap: break-word;
}

  .pokename .descspan {
    background-color: #222;
    color: white;
    padding: 1px 8px;
    border-radius: 12px;
    font-family: 'Suez One';
}

@media screen and (max-width:450px) {
  body{
    background:url(./pokedexmobile.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .heading{
    font-size: 25px;
  }
  
  .content{
    width:350px;
  }
}